.title {
    margin: 0px 0px 10px;
    padding: 8px 24px 8px;
    color: white;
    font-size: 18px;
    line-height: 32px;
    font-weight: 400;
    background: #0277bd;
}

.title h4 {
    display: inline-block;
}

.title .exit {
    cursor: pointer;
}

.chipEdit{
    background-color: #99cc00;
    text-align: center;
}
md-chip-fontsize {
    font-size: 14px;
    margin: 5px 0px 10px 0px;
}