<app-header [showRoles]="false"></app-header>

<md-grid-list cols="1" (mouseup)='hidePWD()'>
  <md-grid-tile>
    <md-card>
      <md-card-title>
        <div class="row text-center"> <img src="assets/images/Swasthya.png" alt="Logo"> </div>
        <div class="row text-center">
          <h4 class="font-Medium f-s-24">Account Support</h4>
          <h5 class="f-s-16 f-c-54">Follow the steps to change/reset the password</h5>
        </div>
      </md-card-title>
      <md-card-content *ngIf="hideOnGettingQuestions">
        <div class="row">
          <div class="col-xs-1 col-md-1 col-sm-1 m-t-15">
            <em class="material-icons" style="color: gray">account_box</em>
          </div>
          <div class="col-xs-11 col-md-11 col-sm-11">
            <md-input-container class="full-width">
              <input autocomplete="off" autocomplete='off' mdInput allowText="usernameValidator" type="text" id="userID" placeholder="Enter User Name" [(ngModel)]="userID" name="userID" minlength="2" required #uname="ngModel">
            </md-input-container>
          </div>
        </div>
        <div class="row m-t-50">
          <div class="col-xs-12 col-sm-6">
            <button md-raised-button type="button" class="width100" [routerLink]="['/']">Cancel</button>
          </div>
          <div class="col-xs-12 col-sm-6">
            <button md-raised-button type="button" class="width100" color="primary" [disabled]="!uname.valid" (click)="getQuestions(userID)">Next</button>
          </div>
        </div>
      </md-card-content>
      <md-card-content *ngIf="showQuestions">
        <div class="row">
          <div class="col-xs-12 col-sm-12">
            <h5><strong><em>{{bufferQuestion}}</em></strong></h5>
          </div>
          <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
            <md-input-container class="full-width">
              <input autocomplete="off" autocomplete='off' mdInput allowText="answerValidator" type="{{dynamictype}}" id="answer" placeholder="Enter Answer" [(ngModel)]="answer" name="answer" #answerf="ngModel" required>
              <md-icon mdSuffix class="mat-icon material-icons cursorPointer" role="img" aria-hidden="true" mdTooltip="Show Answer" (mousedown)='showPWD()'>visibility</md-icon>
              <md-hint>
                <span class="error_text">{{wrong_answer_msg}}</span>
              </md-hint>
            </md-input-container>
          </div>
        </div>
        <div class="row">
          <div class="col-xs-12 col-sm-12 m-t-10">
            <button md-raised-button type="button" [disabled]="!answerf.valid || counter>1" class="width100" color="primary" (click)='nextQuestion()'>Next</button>
            <button md-raised-button type="button" [disabled]="!answerf.valid || counter<2" class="width100" color="primary" (click)='nextQuestion()'>Submit</button>
          </div>
        </div>
      </md-card-content>
    </md-card>
  </md-grid-tile>
</md-grid-list>

<app-footer></app-footer>