md-grid-list {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 550px;
}

md-card {
    width: 400px;
}

i {
    margin-top: 18px;
}

.full-width {
    width: 90%;
}