<div class="title info">
  <h4>{{currentLanguageSet?.setPasswordForAbha}}</h4>
  <button class="pull-right close-btn" mdDialogClose (click)="closeDialog()" md-icon-button>
    <md-icon class="md-24">close</md-icon>
  </button>
</div>

<br>

<div class="col-xs-12 col-sm-12">
  <div class="row buttonSubmit" style="padding: left 25px;">
    <form #passwordFields="ngForm">
      <div fxLayoutAlign="start end">
        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 fieldPadding">
          <md-input-container class="full-width">
            <input
              autocomplete="off"
              mdInput
              type="{{ dynamictype }}"
              id="password"
              placeholder="{{currentLanguageSet?.newPassword}}"
              [(ngModel)]="newpwd"
              name="newpwd"
              #newPswd="ngModel"
              minlength="8"
            />
       
            <md-icon
              mdSuffix
              class="mat-icon material-icons cursorPointer"
              role="img"
              aria-hidden="true"
              mdTooltip="Show Password"
              (mousedown)="showPWD()"
              (mouseup)='hidePWD()'
              style="color: gray"
            >
              visibility
            </md-icon>
            <md-error *ngIf="newPswd?.errors?.minlength">
              {{currentLanguageSet?.minCharPassRequired}}
              </md-error>
          </md-input-container>
        </div>
      </div>

      <div fxLayoutAlign="start end">
        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 fieldPadding">
          <md-input-container class="full-width">
            <input
              autocomplete="off"
              mdInput
              type="{{ dynamictypeConfirm }}"
              id="password"
              placeholder="{{currentLanguageSet?.confirmPassword}}"
              [(ngModel)]="confirmpwd"
              name="confirmpwd"
              #confirmPswd="ngModel"
              minlength="8"
            />
       
            <md-icon
              mdSuffix
              class="mat-icon material-icons cursorPointer"
              role="img"
              aria-hidden="true"
              mdTooltip="Show Password"
              (mousedown)="showPWDConfirm()"
              (mouseup)='hidePWDConfirm()'
              style="color: gray"
            >
              visibility
            </md-icon>
            <md-error *ngIf="confirmPswd?.errors?.minlength">
              {{currentLanguageSet?.minCharPassRequired}}
              </md-error>
          </md-input-container>
        </div>
      </div>
    </form>
    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 fieldPadding">
      <button
        type="button"
        md-raised-button
        color="accent"
        [disabled]="!passwordFields.valid"
        class="full-width largeBtn buttonSubmit"
        (click)="updatePass()"
      >
        Submit
      </button>
    </div>
  </div>
</div>
