.mtop20 {
	margin-top: 20px;
}



/* .mleft15 {
	margin-left: 15px;
} */


.govid-msg {
	margin-top: -15px;
    float: left;
    font-size: 12px;
}

@media (max-width: 481px) {
	.newStyle {
		margin-left:-2px
	}
}
@media (min-width: 900px) {
	.newStyle {
		margin-left:-50px
	}
}
.change {
color: darkolivegreen;
font-weight: bolder;
}

.info {
    background: #0277bd;
}

.title {
    margin: 0px;
    padding: 15px 24px 15px;
    color: white;
}

.title h4 {
    display: inline-block;
}
.overlay {
    height: 100%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    position: fixed;
    z-index: 1001;
    /* Sit on top */
    left: 0;
    top: 0;
    background-color: rgb(0, 0, 0);
    /* Black fallback color */
    background-color: rgba(0, 0, 0, 0.3);
    /* Black w/opacity */
  }  
  .overlay:root {
    padding: 0px;
  }
.align-Para {
    float: left;
    font-size: 10px;
    color: grey;
}