<div class="row title">
  <h4>{{currentLanguageSet?.common?.scheduler}}</h4>
  <button class="pull-right exit" [mdDialogClose]="null" md-icon-button>
    <md-icon class="md-24">close</md-icon>
  </button>
</div>
<div class="container-fluid" *ngIf='scheduledData != null'>
  <table class="table table-no-border casesheet-table" aria-describedby="schedulertbl">

    <tr>
      <th id="allocation">{{currentLanguageSet?.common?.allocation}}:</th>
      <td> {{scheduledData.schedulerForm.allocation ? currentLanguageSet?.common?.walkIn : currentLanguageSet?.tc?.schedule}}</td>
      <th id="allocationDate">{{currentLanguageSet?.common?.allocationDate}}:</th>
      <td> {{scheduledData.schedulerForm.allocationDate | date: 'dd/MM/yyyy'}}</td>
    </tr>

    <tr>
      <th id="specialization">{{currentLanguageSet?.common?.specialization}}:</th>
      <td> {{scheduledData.schedulerForm.specialization.specialization}} </td>
      <th id="specialistName">{{currentLanguageSet?.common?.specialistName}}:</th>
      <td> {{scheduledData.schedulerForm.specialistDetails.userName}} </td>
    </tr>

    <tr>
      <th id="fromTime"> {{currentLanguageSet?.common?.fromTime}}:</th>
      <td> {{scheduledData.tmSlot.fromTime}} </td>
      <th id="toTime"> {{currentLanguageSet?.common?.toTime}} :</th>
      <td> {{scheduledData.tmSlot.toTime}} </td>
    </tr>

  </table>
  <div class="row m-t-20">
    <div class="col-sm-12 step-btn m-b-20">
      <button md-raised-button color="primary" id="clearScheduledSlot" (click)="clearScheduledSlot()"> {{currentLanguageSet?.common?.clearslots}} </button>
      <button md-raised-button color="primary" id="closeModal" (click)="closeModal()"> {{currentLanguageSet?.common?.close}} </button>
    </div>
  </div>
</div>
<div class="container-fluid" *ngIf='scheduledData == null'>
  <form [formGroup]='schedulerForm'>
    <div class="row m-t-10">
      <div class="col-xs-12 box">
        <label class="control-label" for="allocationStatus">{{currentLanguageSet?.common?.allocation}}*</label>
        <div class="clearfix"></div>
        <md-radio-group name='allocation' formControlName="allocation" (change)="checkAllocation(allocation)" required>
          <md-radio-button color="primary" [value]="true">{{currentLanguageSet?.common?.walkIn}}</md-radio-button>
          <md-radio-button color="primary" class="radio-btn" [value]="false">{{currentLanguageSet?.tc?.schedule}}</md-radio-button>
        </md-radio-group>
      </div>
      <div class="col-xs-12 box">
        <md2-datepicker class="input-full-width" [openOnFocus]="true" name='allocationDate' formControlName="allocationDate" placeholder="{{currentLanguageSet?.common?.allocationDate}}" required [max]='schedulerDate' [min]='today' ng-readonly="true" (change)='getMasterSpecialization()'></md2-datepicker>
      </div>
      <div class="col-xs-12 box">
        <md-select class="input-full-width" name='specialization' formControlName="specialization" placeholder="{{currentLanguageSet?.common?.specialization}}" (change)='getSpecialist()' required>
          <md-option *ngFor="let specialization of masterSpecialization" [value]="specialization">
            {{specialization.specialization}}
          </md-option>
        </md-select>
      </div>
      <div class="col-xs-12 box">
        <md-select class="input-full-width" name='specialistDetails' formControlName="specialistDetails" placeholder="{{currentLanguageSet?.common?.specialistDetails}}" required (change)='getAvailableSlot(specialistDetails)'>
          <md-option *ngFor="let specialistDetails of masterSpecialistDetails" [value]="specialistDetails">
            {{specialistDetails.userName}}
          </md-option>
        </md-select>
      </div>
    </div>
  </form>

  <div class="row slots-container m-t-10 m-b-10">
    <div class="col-xs-12" *ngIf="availableSlotList?.length > 0">
      <md-chip-list #chipList [selectable]="true">
        <md-chip *ngFor="let slot of availableSlotList;let i = index" [ngClass]="slot.status | lowercase" [selectable]="slot.status == 'available'" [selected]="slot == selectedSlot" (click)="selectAvailableSlot(slot)">{{slot.fromTime.substring(0,5) + ' - ' + slot.toTime.substring(0,5)}}</md-chip>
      </md-chip-list>
    </div>

    <div class="col-xs-12" *ngIf="availableSlotList?.length == 0">
      <p class="text-center">{{currentLanguageSet?.common?.slotNotAvailable}}</p>
    </div>
  </div>

  <div class="row m-t-10 m-b-20">
    <div class="col-xs-12" *ngIf='selectedSlot && selectedSlot != null'>
      <button md-raised-button class="pull-right btn-green" color="primary" id="slot" (click)="saveScheduledSlot()"> {{currentLanguageSet?.common?.submitSlot}}</button>
    </div>
  </div>
</div>