<section id="quickSearch" class="container-fluid">

    <div class="row title info">
      <h4>{{currentLanguageSet?.bendetails?.externalSearch}}</h4>
      <button class="pull-right close-btn" tooltip="{{currentLanguageSet?.common?.close}}" (click)="mdDialogRef.close(false)" md-icon-button >
          <md-icon class="md-24">close</md-icon>
      </button>
    </div>

    <md-dialog-content style= "overflow-y: hidden">
            <section class="row m-t-10">
                <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12" [formGroup]="searchIdForm" >
                    <div class="col-xs-12 col-sm-6 box">
                        <div class="select-container">
                            <md-select class="p-t-12 m-t-10" [style.width]="'100%'"  (change)="validateID(searchIdForm.controls.searchId.value)" formControlName="searchId" autofocus required placeholder="Select ID Type">
                                <md-option *ngFor="let idType of ids" [value]="idType.value">
                                    {{idType.idType}}
                                </md-option>
                            </md-select>
                        </div>
                    </div>
                    <div class="col-xs-12 col-sm-6 box m-t-10">
                        <md-form-field [style.width]="'100%'" >
                            <input defaultNull autocomplete="off"   [maxlength]="idMaxValue" [minlength]="idMinValue" [pattern]="patternID" autofocus required mdInput [placeholder]="searchValue" formControlName="ID" minlength= "10" maxlength= "30">
                            <strong *ngIf="searchIdForm.controls.searchId.value === 'National Health ID'" mdSuffix>{{abhaSuffix}}</strong>
                            <md-error
                            *ngIf="searchIdForm.controls.ID.hasError('pattern')"
                          >
                         {{idErrorText}} 
                           </md-error
                          >
                        </md-form-field>
                    </div>
                </div>                   
            </section>
    </md-dialog-content>

  <md-dialog-actions align="right" class="padding15 margin15 pull-right">
      <button [disabled]="searchIdForm.invalid" md-raised-button color="accent" type="button" (click)="getQuickSearchResult(searchIdForm.value)">{{currentLanguageSet?.common?.search}}</button>
  </md-dialog-actions>
  <div class="clearfix"></div>
</section>