.upload_button {
    display: inline-block;
    border: none;
    background: none;
    position: relative;
    margin: 0px 0px 0px 180px;
}
.span-style {
    visibility: hidden;
    position: absolute; 
    overflow: hidden; 
    width: 0px; 
    height:0px;
    border:none;
    margin:0; 
    padding:0;
}
.chipEdit{
    background-color: #99cc00;
}
.file-format-info {
    color: red;
    float: left;
}