<div class="speclogin">
  <button class="pull-right exit" md-icon-button (click)='closeSnackBar(true)'>
    <md-icon class="md-24">close</md-icon>
  </button>
  <form [formGroup]='specialistTMLoginForm'>
    <md-form-field class="input-full-width">
      <input autocomplete="off" mdInput defaultNull name='userName' formControlName="userName" placeholder="User Name" required>
    </md-form-field>
    <md-form-field class="input-full-width">
      <input autocomplete="off" mdInput defaultNull [type]="dynamictype" name='Password' formControlName="password" placeholder="Password" required>
      <md-icon mdSuffix class="mat-icon material-icons cursorPointer" role="img" aria-hidden="true" mdTooltip="Show Password" (mousedown)='showPWD()' (mouseup)='hidePWD()' style="color:gray">visibility</md-icon>
    </md-form-field>
    <md-form-field class="input-full-width">
      <input autocomplete="off" mdInput defaultNull name='domain' formControlName="domain" placeholder="Domain" required>
    </md-form-field>
    <button [disabled]='!specialistTMLoginForm.valid' class="pull-right exit btn-save" md-button (click)='closeSnackBar(false)'>
    {{data.action}}
  </button>
  </form>
</div>