.circle {
  position: relative;
  padding: 0;
  width: 300px;
  height: 100px;
  z-index: 1;
  background: #3175c0;
  cursor: pointer;
  color: white;
  border-radius: 15px;
}

.width310px {
  width: 310px;
  cursor: pointer;
}

.line-height-65 {
  line-height: 65px !important;
}

.f-s-48 {
  font-size: 48px;
}

.f-s-20 {
  font-size: 20px;
}

.f-c-w {
  color: white
}

.p-l-15 {
  padding-left: 15px;
}

.p-t-15 {
  padding-top: 15px;
}
label {
  display: inline-block;
  max-width: 100%;
  margin-bottom: 5px;
  font-weight: 600;
  font-size: 22px;
  color: #4d4d33;
  animation: fadein 4s linear forwards;
}
@keyframes fadein {
  0% { opacity: 0; }
  50% { opacity: 1; }
}