.checkbox-group {
    display: flex;
    flex-wrap: wrap;
    align-content: center;
    align-items: center;
    height: fit-content;
}

.checkbox-group md-checkbox {
    margin-bottom: 5px;
}

.checkbox {
    margin: 0 10px;
}