.title .exit {
  cursor: pointer;
}

.title {
  padding: 10px 24px 10px;
  color: white;
  font-size: 18px;
  line-height: 32px;
  font-weight: 400;
  background: #0277bd;
}

.title h4 {
  display: inline-block;
}