<div class="flex-container">
  <md-card class="mdCardSonar">
    <md-card-title>
      <div class="btn-center"> <img src="assets/images/Swasthya.png" alt="Logo"> </div>
    </md-card-title>
    <md-card-content>
      <form class="form-horizontal cu-form-horizontal-label-left" name="loginForm" (ngSubmit)="f.form.valid && login()" #f="ngForm">
        <div class="row">
          <div class="col-xs-1 col-md-1 col-sm-1">
            <em class="material-icons formIcons">account_box</em>
          </div>
          <div class="col-xs-11 col-md-11 col-sm-11">
            <md-input-container class="full-width">
              <input mdInput allowText="usernameValidator" autofocus="autofocus" type="text" id="userID" placeholder="Enter User Name" [(ngModel)]="userName" name="userName" #focus/>
            </md-input-container>
          </div>
        </div>
        <div class="row" fxLayoutAlign="start end">
          <div class="col-xs-1 col-md-1 col-sm-1">
            <em class="material-icons formIcons">lock</em>
          </div>
          <div class="col-xs-11 col-md-11 col-sm-11">
            <md-input-container class="full-width">
              <input autocomplete="off" mdInput [type]="dynamictype" id="password" placeholder="Enter Password" [(ngModel)]="password" name="password" />
              <md-icon mdSuffix class="mat-icon material-icons cursorPointer" role="img" aria-hidden="true" mdTooltip="Show Password" (mousedown)='showPWD()' (mouseup)='hidePWD()' style="color:gray">visibility</md-icon>
            </md-input-container>
          </div>
        </div>
        <div class="row">
          <div class="col-xs-12 col-md-12 col-sm-12">
            <button md-raised-button color="primary" type="submit" class="full-width largeBtn submit">Login</button>
          </div>
        </div>
        <div class="row m-t-25">
          <div class="col-xs-6 col-sm-6">           
          </div>
          <div class="col-xs-6 col-sm-6">
            <ul class="list-unstyled list-inline pull-right">
              <li><a class="cursorPointer f-c-54 font-regular" routerLink="/reset-password">Forgot Password?</a></li>
            </ul>
          </div>
        </div>
      </form>
    </md-card-content>
  </md-card>
</div>

<app-footer></app-footer>