h5{
    font-weight: bold;
}

.mat-expansion-panel-header{
    background: rgba(37,55,70,0.2);
}

.mat-form-field {
    line-height: unset;
}

.input-full-width {
    width: 100%;
}

.mat-horizontal-content-container{
    padding: 0px;
}

.box {
    height: 60px;
}
