h5 {
  font-weight: bold;
}

.mat-expansion-panel-header {
  background: rgba(37, 55, 70, 0.2);
}

.view-link {
  text-align: center;
}

.table {
  margin-bottom: 0px;
}

.graph tr td {
  border: none;
}

.textarea-full-width {
  width: 100%;
}

.no_records {
  border: 0.2px solid gray;
  display: block;
  padding: 50px;
  text-align: center;
}

.abnormal {
  color: red
}

img {
  border: 1px solid black;
}

.firstHalf {
  float: left;
  width: 50%;
}

.secondHalf {
  float: right;
  width: 50%;
}

.norecord {
  text-align: center;
}