.input-full-width {
  width: 100%;
}

:host /deep/ .pagination {
  margin: 0;
}

md2-pagination {
  text-align: right;
}

md-input-container {
  width: 60%;
}

md-card {
  min-height: 400px;
  padding: 15px;
}

.norecord {
  text-align: center;
}

@media (max-width: 481px) {
  md-input-container {
    width: 100%;
  }
  #caseSheetButton {
    width: 100%;
  }
}