md2-pagination {
    margin-left: -18px;
    margin-top: 15px;
}

.column {
    white-space: nowrap;
}

.info {
    background: #0277bd;
}

.title {
    margin: 0px;
    padding: 15px 24px 15px;
    color: white;
}

.title h4 {
    display: inline-block;
}

.message {
    padding: 24px 24px 24px;
    box-sizing: border-box;
    overflow-y: auto;
    border-top: none;
    border-bottom: none;
}

.close-btn {
    color: white !important;
}
.record-not-found {
    text-align: center;
}
.overlay {
    height: 100%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    position: fixed;
    z-index: 1001;
    /* Sit on top */
    left: 0;
    top: 0;
    background-color: rgb(0, 0, 0);
    /* Black fallback color */
    background-color: rgba(0, 0, 0, 0.3);
    /* Black w/opacity */
  }  
  .overlay:root {
    padding: 0px;
  }
  