h5{
    font-weight: bold;
}

.textarea-full-width {
    width: 100%;
}

.input-full-width {
    width: 100%;
}

.radio-button{
    margin-right : 25px;
}

.control-label{
    font-weight: normal;
}

.box {
    height: 60px;
}

.mat-form-field {
    line-height: unset;
}
