.title {
    margin: 0px 0px 10px;
    padding: 8px 24px 8px;
    color: white;
    font-size: 18px;
    line-height: 32px;
    font-weight: 400;
    background: #0277bd;
}

.title h4 {
    display: inline-block;
}

.title .exit {
    cursor: pointer;
}
.list-style {
    text-align: center;
    font-size: 16px;
    margin: 20px 0px 15px 0px;
    cursor: pointer;
}
.list-style:hover {
 color: lightseagreen;
 text-decoration: underline;
 cursor: pointer;
}
.td-style {
    border-top: 0 !important;
}