@import '~@angular/material/theming';
// Plus imports for other components in your app.
// Define the palettes for your theme using the Material Design palettes available in palette.scss
// (imported above). For each palette, you can optionally specify a default, lighter, and darker
// hue.
// $primary: mat-palette($mat-blue-grey, 700);
// $accent: mat-palette($mat-teal, 500);

$primary: mat-palette($mat-light-blue,800);
$accent:  mat-palette($mat-green,600);

// The warn palette is optional (defaults to red).
$warn: mat-palette($mat-red, A200, A100, A400);
// Create the theme object (a Sass map containing all of the palettes).
$theme: mat-light-theme($primary, $accent, $warn);
// Include theme styles for core and each component used in your app.
// Alternatively, you can import and @include the theme mixins for each component
// that you are using.
@include angular-material-theme($theme);