<div class="container-fluid">

  <div class="row m-t-10">
    <div class="col-xs-8 col-sm-6 col-md-4">
      <div class="sw">
        <input type="search" class="search" autocomplete="off" placeholder="{{current_language_set?.common?.inTableSearch}}" name="filterTerm" [(ngModel)]="filterTerm" (keyup)="filterBeneficiaryList(filterTerm)" />
        <button class="go" (click)="filterBeneficiaryList(filterTerm)">
          <span class="material-icons">search</span>
        </button>
      </div>
    </div>
    <div class="col-xs-4 col-sm-6 col-md-8">
      <button md-button id="caseSheetButton" style="display:none;" [disabled]="true" class="btn btn-link pull-right">{{current_language_set?.bendetails?.emergencyCaseSheet}}</button>
      <button md-raised-button class="pull-right btn-green" color="primary" id='refresh' (click)="loadWorklist()"> {{current_language_set?.common?.refresh}} </button>
    </div>
  </div>

  <div class="row m-t-10 m-b-40">
    <div class="col-sm-12">
      <md-card>
        <section class="table-responsive">
          <table class="table table-striped " aria-describedby="beneficiaryData">
            <thead>
              <tr>
                <th id="sno">{{current_language_set?.coreComponents?.sno}}</th>
                <th id="beneficiaryID">{{current_language_set?.bendetails?.beneficiaryID}}</th>
                <th id="beneficiaryName">{{current_language_set?.bendetails?.beneficiaryName}}</th>
                <th id="gender">{{current_language_set?.bendetails?.gender}}</th>
                <th id="age">{{current_language_set?.bendetails?.age}}</th>
                <th id="visitCategory">{{current_language_set?.bendetails?.visitCategory}}</th>
                <th id="district">{{current_language_set?.bendetails?.district}}</th>
                <th id="phoneNo">{{current_language_set?.bendetails?.phoneNo}}</th>
                <th id="visitDate">{{current_language_set?.bendetails?.visitDate}}</th>                
                <th id="image">{{current_language_set?.bendetails?.image}}</th>
              </tr>
            </thead>
            <tbody>
              <ng-template [ngIf]="filteredBeneficiaryList && filteredBeneficiaryList.length == 0">
                <tr *ngFor="let row of blankTable">
                  <td colspan="10" *ngIf='row ==3'>
                    <h4 class='norecord'>{{current_language_set?.common?.noRecordFound}}</h4>
                    </td>
                    <td *ngIf='row !=3'> &nbsp; </td>
                    <td *ngIf='row !=3'> &nbsp; </td>
                    <td *ngIf='row !=3'> &nbsp; </td>
                    <td *ngIf='row !=3'> &nbsp; </td>
                    <td *ngIf='row !=3'> &nbsp; </td>
                    <td *ngIf='row !=3'> &nbsp; </td>
                    <td *ngIf='row !=3'> &nbsp; </td>
                    <td *ngIf='row !=3'> &nbsp; </td>
                    <td *ngIf='row !=3'> &nbsp; </td>
                    <td *ngIf='row !=3'> &nbsp; </td>
                </tr>
              </ng-template>
              <tr *ngFor="let beneficiary of pagedList" class="table-hover">
                <td>{{ filteredBeneficiaryList.indexOf(beneficiary)+1 }}</td>
                <td (click)="loadLabExaminationPage(beneficiary)">{{beneficiary?.beneficiaryID}}</td>
                <td (click)="loadLabExaminationPage(beneficiary)" style="max-width:200px; word-break: break-word;">{{beneficiary?.benName | titlecase}}</td>
                <td (click)="loadLabExaminationPage(beneficiary)">{{beneficiary.genderName | titlecase}}</td>
                <td (click)="loadLabExaminationPage(beneficiary)">{{beneficiary.age}}</td>
                <td (click)="loadLabExaminationPage(beneficiary)"> {{beneficiary.VisitCategory}} /
                  <span style="color:#a6a6a6">{{beneficiary.benVisitNo}}</span>
                </td>
                <td (click)='loadLabExaminationPage(beneficiary)'>{{beneficiary.districtName | titlecase}} / {{beneficiary.villageName | titlecase}}</td>
                <td (click)='loadLabExaminationPage(beneficiary)'>{{beneficiary.preferredPhoneNum }}</td>
                <td (click)="loadLabExaminationPage(beneficiary)">{{beneficiary.benVisitDate}}</td>
                <td (click)="patientImageView(beneficiary.beneficiaryRegID)" tooltip="{{current_language_set?.tc?.image}}">
                  <img src="assets/images/Avatar-Profile_30X30.png" alt="">
                </td>
              </tr>
            </tbody>
            <tfoot>
              <tr>
                <td colspan="2">
                  <div *ngIf="filteredBeneficiaryList.length > 0" class="totalCount"> {{current_language_set?.common?.totalCount}} : {{ filteredBeneficiaryList.length }}</div>
                </td>
                <td colspan="8">
                  <pagination class="pull-right"  [(ngModel)]="currentPage" [boundaryLinks]="true" (pageChanged)="pageChanged($event)" *ngIf="filteredBeneficiaryList.length" [totalItems]="filteredBeneficiaryList.length" [itemsPerPage]="rowsPerPage" [maxSize]="rowsPerPage" [rotate]="rotate" previousText="&lsaquo;"
                    nextText="&rsaquo;" firstText="&laquo;" lastText="&raquo;"></pagination>
                </td>
              </tr>
            </tfoot>
          </table>
        </section>
      </md-card>
    </div>
  </div>
</div>