<div class="title">
  <h4>{{currentLanguageSet?.common?.provisionalDiagnosisSelection}}</h4>
  <button md-icon-button mdDialogClose tooltip="{{currentLanguageSet?.common?.close}}" class="pull-right exit width-20px">
    <md-icon>close</md-icon>
  </button>
</div>
<div class="container-fluid">
  <div class="row no-gutters">
    <div class="col-xs-12 col-sm-4">
      <md-form-field class="input-full-width">
        <input autocomplete="off" maxlength="100" mdInput placeholder="{{currentLanguageSet?.casesheet?.provisionalDiag}}" [(ngModel)]="input.searchTerm" (keyup.enter)="search(input.searchTerm,0)" (ngModelChange)="resetData()">
      </md-form-field>
    </div>
    <div class="col-xs-12 col-sm-8">
      <button class="search-btn" md-raised-button color="accent" type="button" (click)="search(input.searchTerm, 0)">{{currentLanguageSet?.common?.search}}</button>
    </div>
  </div> 
  <div class="overlay" *ngIf="showProgressBar">
    <div class="overlay-content">
      <md-spinner></md-spinner>
    </div>
  </div>
  <md-dialog-content>
    <div class="table-responsive" style="overflow-x: hidden;">
      <table aria-describedby="provisionalDiagnosis" class="table table-striped" [md2Data]="diagnosis$" #md2="md2DataTable">
        <thead>
          <tr>
            <th id="ConceptID">{{currentLanguageSet?.common?.ConceptID}}</th>
            <th id="term">{{currentLanguageSet?.common?.term}}</th>
            <th id="empty"></th>
          </tr>
        </thead>
        <tbody>
          <tr *ngIf="diagnosis$.length == 0">
            <td colspan="3" class="text-center">{{currentLanguageSet?.common?.noRecordFound}}</td>
          </tr>
          <tr *ngFor="let item of md2.data">
            <td data-title="Concept ID">{{ item?.conceptID }} </td>
            <td data-title="Term">{{ item?.term }} </td>
            <td class="text-center">
              <md-checkbox (change)="selectDiagnosis($event, item)" [checked]="checkSelectedDiagnosis(item) || item.selected" [disabled]="disableSelection(item)"></md-checkbox>
            </td>
          </tr>
        </tbody>
        <tfoot>
          <tr>
            <td colspan="3" class="text-right">
              <div *ngIf="diagnosis$.length != 0" class="pull-left m-t-40">{{currentLanguageSet?.common?.totalPages}}: {{pageCount}}</div>
              <ul *ngIf="pager.pages && pager.pages.length" class="pagination">
                <li [ngClass]="{disabled:pager.currentPage <= 0}">
                  <a (click)="checkPager(pager,0)">
                    <<</a>
                </li>
                <li [ngClass]="{disabled:pager.currentPage <= 0}">
                  <a (click)="setPage(pager.currentPage - 1)">
                    <</a>
                </li>
                <li *ngFor="let page of pager.pages" [ngClass]="{active:pager.currentPage === page}">
                  <a (click)="setPage(page)">{{page + 1}}</a>
                </li>
                <li [ngClass]="{disabled:pager.currentPage >= pager.totalPages - 1}">
                  <a (click)="setPage(pager.currentPage + 1)">></a>
                </li>
                <li [ngClass]="{disabled:pager.currentPage >= pager.totalPages - 1}">
                  <a (click)="checkPager(pager, pager.totalPages - 1)">>></a>
                </li>
              </ul>
            </td>
          </tr>
        </tfoot>
      </table>
    </div>
    <div class="row m-b-20">
      <div class="col-xs-12">
        <button md-raised-button class="pull-right" (click)="submitDiagnosisList()" [disabled]="selectedDiagnosisList.length == 0" color="primary">
          {{currentLanguageSet?.common?.submit}}
        </button>
      </div>
    </div>
  </md-dialog-content>

</div>