<div class="container-fluid">
  <div class="row m-t-10">
    <div class="col-xs-8 col-sm-6 col-md-4">
      <div class="sw">
        <input
          type="search"
          class="search"
          autocomplete="off"
          placeholder="{{ currentLanguageSet?.common?.inTableSearch }}"
          name="filterTerm"
          [(ngModel)]="filterTerm"
          (keyup)="filterBeneficiaryList(filterTerm)"
        />
        <button class="go" (click)="filterBeneficiaryList(filterTerm)">
          <span class="material-icons">search</span>
        </button>
      </div>
    </div>
    <div class="col-xs-4 col-sm-6 col-md-8">
      <button
        md-button
        id="caseSheetButton"
        style="display: none"
        [disabled]="true"
        class="btn btn-link pull-right"
      >
        {{ currentLanguageSet?.bendetails?.emergencyCaseSheet }}
      </button>
      <button
        md-raised-button
        id="refresh"
        class="pull-right btn-green"
        color="primary"
        (click)="loadWorklist()"
      >
        {{ currentLanguageSet?.common?.refresh }}
      </button>
    </div>
  </div>

  <div class="row m-t-10 m-b-40">
    <div class="col-sm-12">
      <md-card>
        <section class="table-responsive">
          <table
            class="table table-striped"
            aria-describedby="BeneficiaryListTbl"
          >
            <thead>
              <tr>
                <th id="sno">{{ currentLanguageSet?.coreComponents?.sno }}</th>
                <th id="beneficiaryID">
                  {{ currentLanguageSet?.bendetails?.beneficiaryID }}
                </th>
                <th id="beneficiaryName">
                  {{ currentLanguageSet?.bendetails?.beneficiaryName }}
                </th>
                <th id="gender">
                  {{ currentLanguageSet?.bendetails?.gender }}
                </th>
                <th id="age">{{ currentLanguageSet?.bendetails?.age }}</th>
                <th id="visitCategory">
                  {{ currentLanguageSet?.bendetails?.visitCategory }}
                </th>
                <th id="district">
                  {{ currentLanguageSet?.bendetails?.district }}
                </th>
                <th id="phoneNo">
                  {{ currentLanguageSet?.bendetails?.phoneNo }}
                </th>
                <th id="visitDate">
                  {{ currentLanguageSet?.bendetails?.visitDate }}
                </th>
                <th id="image">{{ currentLanguageSet?.bendetails?.image }}</th>
              </tr>
            </thead>
            <tbody>
              <ng-template
                [ngIf]="
                  filteredBeneficiaryList && filteredBeneficiaryList.length == 0
                "
              >
                <tr *ngFor="let row of blankTable">
                  <td colspan="10" *ngIf="row == 3">
                    <h4 class="norecord">
                      {{ currentLanguageSet?.common?.noRecordFound }}
                    </h4>
                  </td>
                  <td *ngIf="row != 3">&nbsp;</td>
                  <td *ngIf="row != 3">&nbsp;</td>
                  <td *ngIf="row != 3">&nbsp;</td>
                  <td *ngIf="row != 3">&nbsp;</td>
                  <td *ngIf="row != 3">&nbsp;</td>
                  <td *ngIf="row != 3">&nbsp;</td>
                  <td *ngIf="row != 3">&nbsp;</td>
                  <td *ngIf="row != 3">&nbsp;</td>
                  <td *ngIf="row != 3">&nbsp;</td>
                  <td *ngIf="row != 3">&nbsp;</td>
                </tr>
              </ng-template>
              <tr *ngFor="let beneficiary of pagedList" class="table-hover">
                <td>{{ filteredBeneficiaryList.indexOf(beneficiary) + 1 }}</td>
                <td (click)="loadDoctorExaminationPage(beneficiary)">
                  {{ beneficiary?.beneficiaryID }}
                </td>
                <td (click)="loadDoctorExaminationPage(beneficiary)">
                  {{ beneficiary?.benName | titlecase }}
                </td>
                <td (click)="loadDoctorExaminationPage(beneficiary)">
                  {{ beneficiary.genderName | titlecase }}
                </td>
                <td (click)="loadDoctorExaminationPage(beneficiary)">
                  {{ beneficiary.age }}
                </td>
                <td (click)="loadDoctorExaminationPage(beneficiary)">
                  {{ beneficiary.VisitCategory }} /
                  <span style="color: #a6a6a6">{{
                    beneficiary.benVisitNo
                  }}</span>
                </td>
                <td (click)="loadDoctorExaminationPage(beneficiary)">
                  {{ beneficiary.districtName | titlecase }} /
                  {{ beneficiary.villageName | titlecase }}
                </td>
                <td (click)="loadDoctorExaminationPage(beneficiary)">
                  {{ beneficiary.preferredPhoneNum }}
                </td>
                <td (click)="loadDoctorExaminationPage(beneficiary)">
                  {{ beneficiary.benVisitDate }}
                </td>
                <td
                  (click)="patientImageView(beneficiary.beneficiaryRegID)"
                  tooltip="{{ currentLanguageSet?.tc?.image }}"
                >
                  <img alt="" src="assets/images/Avatar-Profile_30X30.png" />
                </td>
              </tr>
            </tbody>
            <tfoot>
              <tr>
                <td colspan="2">
                  <div
                    *ngIf="filteredBeneficiaryList.length > 0"
                    class="totalCount"
                  >
                    {{ currentLanguageSet?.common?.totalCount }} :
                    {{ filteredBeneficiaryList.length }}
                  </div>
                </td>
                <td colspan="8">
                  <pagination class="pull-right" [(ngModel)]="currentPage" [boundaryLinks]="true" (pageChanged)="pageChanged($event)" *ngIf="filteredBeneficiaryList.length" [totalItems]="filteredBeneficiaryList.length" [itemsPerPage]="rowsPerPage" [maxSize]="rowsPerPage" [rotate]="rotate" previousText="&lsaquo;"
                    nextText="&rsaquo;" firstText="&laquo;" lastText="&raquo;"></pagination>
                </td>
              </tr>
            </tfoot>
          </table>
        </section>
      </md-card>
    </div>
  </div>
</div>
