.select-full-width {
    width: 100%;
    white-space: nowrap;
    overflow: hidden;
}

.input-full-width {
    width: 100%;
}

.mat-form-field {
    line-height: unset;
}

.description h5 {
    font-weight: 600;
}

.box {
    height: 60px;
}
