<footer class="footer container-fluid">
  <div class="row">
    <div class="col-xs-4 text-left">
      <span class="footer-text" *ngIf="currentLanguageSet === null || currentLanguageSet === undefined">Powered by: WIPRO</span>
      <span class="footer-text" *ngIf="currentLanguageSet !== null && currentLanguageSet !== undefined">{{currentLanguageSet?.coreComponents?.poweredByWipro}}</span>
    </div>
    <div class="col-xs-4 text-center">
      <p class="footer-text" *ngIf="currentLanguageSet === null || currentLanguageSet === undefined">{{year}} © PSMRI</p>
      <p class="footer-text" *ngIf="currentLanguageSet !== null && currentLanguageSet !== undefined">{{year}} © {{currentLanguageSet?.coreComponents?.pSMRI}}</p>
    </div>
    <div class="col-xs-4 text-right">
      <p class="footer-text">
        <span class="footer-text" *ngIf="currentLanguageSet === null || currentLanguageSet === undefined">{{ status ? "Online": "Offline" }}</span>
        <span [ngClass]="{online: status, offline: !status}" *ngIf="currentLanguageSet !== null && currentLanguageSet !== undefined"></span> {{ status ? currentLanguageSet?.coreComponents?.online: currentLanguageSet?.coreComponents?.offline}}&nbsp;
      </p>
    </div>
  </div> 
</footer>