<app-header [showRoles]="false"></app-header>

<md-grid-list cols="1" rowHeight="650px" (mouseup)='hidePWD()'>
  <md-grid-tile>
    <md-card style="width: 400px;height: 400px;margin-left: 10px;margin-right: 10px;">
      <md-card-title>
        <div class="row text-center"> <img src="assets/images/Swasthya.png" alt="Logo"> </div>
        <div class="row text-center">
          <h4 class="font-Medium f-s-24">Account Support</h4>
          <h5 class="f-s-16 f-c-54">Follow the steps to change/reset the password</h5>
        </div>
      </md-card-title>
      <md-card-content>
        <div class="row">
          <form #passwordFields="ngForm">

            <div class="row" fxLayoutAlign="start end">
              <div class="col-xs-1 col-md-1 col-sm-1 m-t-15">
                <em class="material-icons" style="color: gray">lock</em>
              </div>
              <div class="col-xs-11 col-md-11 col-sm-11">
                <md-input-container class="full-width">
                  <input autocomplete="off" mdInput type="{{dynamictype}}" id="password" placeholder="New Password" [(ngModel)]="newpwd" name="newpwd" required>
                  <md-icon mdSuffix class="mat-icon material-icons cursorPointer" role="img" aria-hidden="true" mdTooltip="Show Password" (mousedown)='showPWD()' style="color:gray">visibility</md-icon>
                </md-input-container>
              </div>
            </div>

            <div class="row" fxLayoutAlign="start end">
              <div class="col-xs-1 col-md-1 col-sm-1 m-t-15">
                <em class="material-icons" style="color: gray">lock</em>
              </div>
              <div class="col-xs-11 col-md-11 col-sm-11">
                <md-input-container class="full-width">
                  <input autocomplete="off" mdInput type="{{dynamictype}}" id="password" placeholder="Confirm Password" [(ngModel)]="confirmpwd" name="confirmpwd" required>
                  <md-icon mdSuffix class="mat-icon material-icons cursorPointer" role="img" aria-hidden="true" mdTooltip="Show Password" (mousedown)='showPWD()' style="color:gray">visibility</md-icon>
                </md-input-container>
              </div>
            </div>
          </form>
        </div>

        <div class="row">
          <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
            <button type="button" md-raised-button color="accent" [disabled]="!passwordFields.valid" class="full-width largeBtn" (click)="updatePassword(newpwd)">Change Password</button>
          </div>
        </div>
      </md-card-content>
    </md-card>
  </md-grid-tile>
</md-grid-list>

<app-footer></app-footer>