md2-pagination {
    margin-left: -18px;
    margin-top: 15px;
}

.column {
    white-space: nowrap;
}

.info {
    background: #0277bd;
}



.title h4 {
    display: inline-block;
}

.message {
    padding: 24px 24px 24px;
    box-sizing: border-box;
    overflow-y: auto;
    border-top: none;
    border-bottom: none;
}
.messageotp {
    padding: 24px 24px 10px;
    box-sizing: border-box;
    overflow-y: auto;
    border-top: none;
    border-bottom: none;
}

.close-btn {
    color: white !important;
}

.title {
    margin: 0px;
    padding: 15px 24px 15px;
    color: white;
    font-size: 18px;
    line-height: 32px;
    font-weight: 400;
}

.action {
    box-sizing: border-box;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
    padding: 8px;
    width: 100%;
    text-align: right;
    border-top: 1px solid lightgrey;
}

.action button {
    border: 1px solid lightgray;
}

.success {
    background: #43a047;
}

.list-group-item {
    background-color: unset !important;
    border: unset !important;
    padding: 5px 15px !important;
}

.background-success {
    background-color: #43a047 !important;
    color: white !important;
}
.overlay {
    height: 100%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    position: fixed;
    z-index: 1001;
    /* Sit on top */
    left: 0;
    top: 0;
    background-color: rgb(0, 0, 0);
    /* Black fallback color */
    background-color: rgba(0, 0, 0, 0.3);
    /* Black w/opacity */
  }  
  .overlay:root {
    padding: 0px;
  }
  
