/* You can add global styles to this file, and also import other style files */

@import 'css/custom.css';
@import 'css/layout.css';
.mat-select-placeholder {
  /* white-space: nowrap; */
  /* text-overflow: ellipsis; */
  /* overflow: hidden; */
}

.mat-form-field-placeholder {
  /* text-overflow: unset !important; */
  /* white-space: unset !important; */
}

.mat-input-placeholder,
.mat-select-placeholder,
.md2-datepicker-placeholder {
  color: #999 !important;
}

.mat-select-placeholder .ng-trigger .ng-trigger-transformPlaceholder .mat-floating-placeholder {
  color: #999 !important;
}

[disabled] .mat-select-placeholder .ng-trigger .ng-trigger-transformPlaceholder .mat-floating-placeholder .mat-input-placeholder,
[aria-disabled=true] .mat-select-placeholder,
.mat-input-placeholder {
  color: #999 !important;
}

.odd {
  background-color: #f0f5f5;
  border-bottom: 1px solid #ddd;
}

.action-btn-container {
  padding: 10px;
}

.box {
  height: 60px;
}

.multi-row-select {
  padding: 5px 0px;
}

.no-row {
  margin: 0 !important;
}

.cdk-overlay-container .cdk-global-overlay-wrapper .cdk-overlay-pane .mat-dialog-container {
  padding: 0px;
  overflow: hidden;
  /* max-width: unset; */
}

.cdk-overlay-container .cdk-global-overlay-wrapper .cdk-overlay-pane.preview-casesheet .mat-dialog-container {
  max-width: unset;
}

.cdk-overlay-container .cdk-global-overlay-wrapper .cdk-overlay-pane .mat-snack-bar-container {
  max-width: 240px !important;
  min-width: 180px !important;
}

.cdk-overlay-container .cdk-global-overlay-wrapper #cdk-overlay-0 {
  margin-bottom: 6px !important;
}

#cdk-overlay-0 .btn-green {
  background: green !important;
}

.btn-green:disabled {
  background: grey !important;
  cursor: not-allowed;
}

.mat-form-field {
  line-height: unset;
}

md2-datepicker {
  top: -7px;
}

hr {
  -moz-border-bottom-colors: none;
  -moz-border-image: none;
  -moz-border-left-colors: none;
  -moz-border-right-colors: none;
  -moz-border-top-colors: none;
  border-color: #EEEEEE -moz-use-text-color #FFFFFF;
  border-style: solid none;
  border-width: 1px 0;
  margin: 18px 0;
}

@media only screen and (max-width: 768px) {
  .registrar-menu.mat-menu-panel {
    max-width: none;
    width: 100vw;
    margin-top: 10px;
  }
  .cdk-overlay-container .cdk-global-overlay-wrapper .cdk-overlay-pane.fit-screen {
    width: 100%;
    height: 100%;
  }
  .cdk-overlay-container .cdk-global-overlay-wrapper .cdk-overlay-pane .mat-dialog-container {
    padding: 0px;
    max-width: 98vw;
    max-height: 95vh;
  }
  .vw100 {
    width: 100vw !important;
  }
}

.mat-form-field.readonly .mat-form-field-underline {
  background-image: -webkit-gradient(linear, left top, right top, from(rgba(0, 0, 0, 0.42)), color-stop(33%, rgba(0, 0, 0, 0.42)), color-stop(0%, transparent));
  background-image: linear-gradient(to right, rgba(0, 0, 0, 0.42) 0%, rgba(0, 0, 0, 0.42) 33%, transparent 0%);
  background-size: 4px 1px;
  background-repeat: repeat-x;
  background-color: unset;
}

.sw {
  float: left;
  width: 100%;
  height: 40px;
  display: flex;
  align-items: center;
  box-shadow: 0 3px 1px -2px rgba(0, 0, 0, .2), 0 2px 2px 0 rgba(0, 0, 0, .14), 0 1px 5px 0 rgba(0, 0, 0, .12);
}

.search {
  flex: 1 1 auto;
  order: 2;
  outline: none;
  border: none;
  border-radius: 0;
  background: #fff;
  padding: 8px;
  font-family: 'Roboto', sans-serif;
  height: 40px;
  transition: all 0.05s ease-in-out;
  -webkit-appearance: none;
}

.go {
  flex: 1 1 auto;
  order: 3;
  max-width: 50px;
  display: inline-block;
  border: none;
  background: #fff;
  color: blue;
  padding-top: 6px;
  height: 40px;
  transition: all 0.05s ease-in-out;
  outline: none;
}

.m-b-40 {
  margin-bottom: 40px;
}

.mat-tab-label {
  opacity: unset !important;
}


/* 
.mat-horizontal-content-container {
  padding: 0px !important;
} */

.cdk-overlay-container .cdk-global-overlay-wrapper .cdk-overlay-pane.fit-screen {
  width: 98% !important;
  height: 88% !important;
}

.cdk-overlay-container .cdk-global-overlay-wrapper .cdk-overlay-pane.fit-screen .mat-dialog-container {
  max-width: unset;
}

.cdk-overlay-container .cdk-global-overlay-wrapper .backdrop {
  background: darkslategray;
  filter: blur(8px);
}

.cdk-overlay-container {
  position: fixed;
  z-index: 999999 !important;
}

.cdk-global-overlay-wrapper {
  display: flex;
  position: absolute;
  z-index: 9999999 !important;
}

.cdk-overlay-pane {
  position: absolute;
  pointer-events: auto;
  box-sizing: border-box;
  z-index: 9999999 !important;
}

.cdk-overlay-backdrop {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 9999999 !important;
  pointer-events: auto;
  transition: opacity 400ms cubic-bezier(0.25, 0.8, 0.25, 1);
  opacity: 0;
}