<!-- {{ generalDiagnosisForm.value | json}} -->
<div class="row" [formGroup]='generalDiagnosisForm'>
  <div class="col-xs-12 col-sm-6">
    <header class="mat-expansion-panel-header m-t-5">
      <h4>{{current_language_set?.casesheet?.provisionalDiag}}*</h4>
    </header>
    <ng-container formArrayName="provisionalDiagnosisList">
      <div *ngFor="let diagnosis of generalDiagnosisForm.controls['provisionalDiagnosisList']['controls']; let i = index; let isLast=last;">
        <ng-container [formGroupName]="i">
          <div class="col-xs-12 col-sm-9">
            <md-form-field class="input-full-width">
              <input mdInput allowText="inputFieldValidator" appDiagnosisSearch [diagnosisListForm]="diagnosis" required name="viewDiagnosisProvided" formControlName="viewProvisionalDiagnosisProvided"
                maxlength="100" minlength="3" [previousSelected]="generalDiagnosisForm?.value?.provisionalDiagnosisList" required >
              <md-icon class="search-btn cursorPointer" *ngIf="!(diagnosis.controls['viewProvisionalDiagnosisProvided'].disabled)" mdSuffix
                appDiagnosisSearch [diagnosisListForm]="diagnosis" [previousSelected]="generalDiagnosisForm?.value?.provisionalDiagnosisList">search</md-icon>
            </md-form-field>
          </div>
          <div class="col-xs-12 col-sm-3 m-t-10">
            <button md-mini-fab type="button" class="pull-left" color="warn" *ngIf="((diagnosis.controls['viewProvisionalDiagnosisProvided'].disabled || (i != 0))) || (i==0 && generalDiagnosisForm.controls['provisionalDiagnosisList'].controls[i].controls.viewProvisionalDiagnosisProvided.value !== null && generalDiagnosisForm.controls['provisionalDiagnosisList'].controls[i].controls.viewProvisionalDiagnosisProvided.value !== '') "
              (click)="removeDiagnosisFromList(i, diagnosis)">
              <md-icon>close</md-icon>
            </button>
            <button md-mini-fab type="button" class="pull-right" color="primary" *ngIf="isLast" [disabled]="checkProvisionalDiagnosisValidity(diagnosis)"
              (click)="addDiagnosis()">
              <md-icon>add</md-icon>
            </button>
          </div>
        </ng-container>
      </div>
    </ng-container>
  </div>
  <div class="col-xs-12 col-sm-6 m-t-6">
    <header class="mat-expansion-panel-header">
      <h4>{{current_language_set?.DiagnosisDetails?.specialistssdvice}}</h4>
    </header>
    <md-form-field class="input-full-width">
      <textarea mdInput defaultNull mdTextareaAutosize maxlength="300" name='specialistAdvice' formControlName="instruction" > </textarea>
    </md-form-field>
  </div>
</div>