<div [formGroup]="cancerPatientFamilyMedicalHistoryForm">
  <div class="row m-t-10">
    <div class="col-xs-12 text-right">
      <label class="font-history-label m-t-10">{{
        currentLanguageSet?.alerts?.info?.familyDisease
      }}</label>
      <button
        md-icon-button
        mdTooltip="{{currentLanguageSet?.DurationData?.previousDetails}}"
        class="pull-right"
        color="primary"
        id="previousCancerFamilyHistory"
        (click)="getPreviousCancerFamilyHistory()"
      >
        <md-icon class="md-18">history</md-icon>
      </button>
    </div>
  </div>
  <div class="m-t-10" formArrayName="diseases">
    <div
      class="row multi-row-select"
      *ngFor="
        let disease of cancerPatientFamilyMedicalHistoryForm.controls.diseases[
          'controls'
        ];
        let i = index;
        let isLast = last;
        let isOdd = odd
      "
      [ngClass]="{ odd: !isOdd }"
    >
      <div [formGroupName]="i">
        <div class="col-xs-12 col-sm-6 col-md-3 box">
          <md-select
            class="input-full-width"
            placeholder="{{
              currentLanguageSet?.historyData?.cancerScreeningHistory?.familyMedical?.diseaseType
            }}"
            name="cancerDiseaseType"
            formControlName="cancerDiseaseType"
            (change)="filterFamilyMember(disease.value.cancerDiseaseType, i, disease )"
          >
            <md-option
              *ngFor="let cancerDisease of temp[i]?.diseaseType"
              [value]="cancerDisease"
            >
              {{ cancerDisease.cancerDiseaseType }}
            </md-option>
          </md-select>
        </div>

        <div
          class="col-xs-12 col-sm-6 col-md-3 box"
          *ngIf="
            disease.value.cancerDiseaseType?.cancerDiseaseType ==
            'Any other Cancer'
          "
        >
          <md-form-field class="input-full-width">
            <input
              autocomplete="off"
              mdInput
              defaultNull
              name="otherDiseaseType"
              formControlName="otherDiseaseType"
              allowText="alphaspace"
              placeholder="{{
                currentLanguageSet?.historyData?.cancerScreeningHistory?.familyMedical?.otherCancerDetails
              }}"
              maxlength="25"
            />
          </md-form-field>
        </div>
    <div class="col-xs-12 col-sm-6 col-md-3 box" [hidden]="true">
      <md-form-field class="input-full-width">
        <input   maxlength="100" mdInput placeholder="{{currentLanguageSet?.historyData?.opd_NCD_PNCHistory?.otherVaccine?.sctCode}}" [style.width]="'100%'" formControlName="snomedCode" readonly>
      </md-form-field>
  </div>

        <div class="col-xs-12 col-sm-6 col-md-3 box">
          <md-select
            class="input-full-width"
            multiple
            placeholder="{{
              currentLanguageSet?.historyData?.cancerScreeningHistory?.familyMedical?.familyMembers
            }}"
            name="familyMemberList"
            formControlName="familyMemberList"
            #memberSelect
          >
            <md-option
              *ngFor="let familyMembers of temp[i]?.familyMemebers"
              [value]="familyMembers.benRelationshipType"
            >
              {{ familyMembers.benRelationshipType }}
            </md-option>
          </md-select>
        </div>

        <div
          class="col-xs-12 col-sm-6 col-md-3 box action-btn-container pull-right"
        >
          <button
            md-mini-fab
            id="removeDisease"
            *ngIf="i != 0 || (i == 0 && !disease.untouched)"
            (click)="removeDisease(i, disease)"
            color="warn"
          >
            <span class="material-icons">
             close
            </span>
          </button>
          <button
            md-mini-fab
            *ngIf="isLast"
            id="addFamilyDisease"
            (click)="addFamilyDisease()"
            color="primary"
            [disabled]="checkValidity(disease)"
          >
            <span class="material-icons">
              add
            </span>
          </button>
        </div>
      </div>
    </div>
  </div>
</div>
