.profileData tr td span {
    font-weight: bold;
}

img {
    border-radius: 50%;
    width: 100px;
    height: 100px;
}

.table>tbody>tr>td, .table>tbody>tr>th {
    padding: 4px;
    border-top: none;
    vertical-align: middle;
}